.search-input {
  display: flex;
  align-items: center;
  margin-bottom: 0px;

  @media screen and (max-width: 1200px) {
    margin-bottom: 0;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
  }

  input {
    background: none;
    padding: 7px 20px;
    width: 350px;
    border: solid 1px #ddd;
    border-right: none;
    font-size: 16px;
    border-radius: 50px 0 0 50px;
    appearance: none;
    outline: none;
    background-color: #fff;

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  .search-button {
    width: 60px;
    text-align: center;
    padding: 7px 0;
    border-radius: 0 50px 50px 0;
    background-color: #46ffd7;
    border: 1px solid #ddd;
    color: #fff;
    cursor: pointer;
  }
}

.filters {
  display: flex;
  white-space: nowrap;
  flex-shrink: 0;

  .dropdown {
    min-width: 180px;
    margin-right: 10px;
    @media screen and (max-width: 600px) {
      min-width: 130px;
    }
  }

  input {
    height: 100%;
    border-radius: 4px;
    border: solid 1px #ddd;
    padding: 7px 12px 7px 12px;
    background-color: #fff;
    color: #251552;
    border-radius: 5px;
  }
}

.categories-holder {
  margin-top: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: center;
  flex-wrap: wrap;

  .categoryButton {
    flex-direction: column;
    transition: all 0.3s;
    background: #f4f7fc;
    padding: 15px 10px 5px 10px;
    border-radius: 10px;
    box-shadow: 0 3px 5px #0003 !important;
    display: -ms-flexbox;
    display: flex;
    width: 120px;
    margin: 0 10px;
    cursor: pointer;
    margin-bottom: 20px;

    @media screen and (max-width: 600px) {
      width: 70px;
      margin: 5px 5px;
    }

    img {
      height: 40px;
    }

    span {
      text-align: center;
      color: #26184f;
      font-size: 14px;
      padding-top: 5px;

      @media screen and (max-width: 600px) {
        font-size: 12px;
        line-height: 1.5;
      }
    }
  }
}

.filters-switch {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
}

.filter-container {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5px;

  @media screen and (max-width: 1400px) {
    width: 100%;
    justify-content: center;
  }
}

.switches-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media screen and (max-width: 1400px) {
    margin-bottom: 10px;
  }
}

.filters-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.total-counter {
  position: absolute;
  right: 0;
  top: 10px;
  text-align: -webkit-match-parent;
  color: #a4a4a4;
  font-size: 20px;
  margin: 0;
  font-weight: 300;
  display: block;
}

.search-container {
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  position: relative;

  .total-counter {
    display: none;
  }

  @media screen and (max-width: 754px) {
    width: 100%;

    .total-counter {
      position: relative;
      display: block;
      right: 0px;
      text-align: -webkit-match-parent;
      color: #a4a4a4;
      font-size: 20px;
      font-weight: 300;
      margin: auto;
      text-align: center;
      padding: 15px;
    }
  }
}

.multi-select {
  @media screen and (max-width: 992px) {
    margin-bottom: 10px;
  }
}
