.switch-section {
  width: 100%;
  min-height: 30px;
  justify-content: center;
  display: flex;

  @media screen and (max-width: 576px) {
    display: flex;
  }

  .switch-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    color: white;
    user-select: none;
    -webkit-user-drag: none;

    @media screen and (max-width: 992px) {
      width: 80%;
    }

    .wallet-switch {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 0;

      @media screen and (max-width: 600px) {
        flex-direction: row;
        margin-bottom: 10px;
      }

      li {
        position: relative;
        min-width: 100px;
        text-align: center;
        margin: 5px 10px;
        padding: 8px 30px;
        font-size: 14px;

        &:hover {

          .underline {
            width: 100%;
          }
        }

        h6 {
          margin: 0;
          font-weight: 800;
          align-items: center;
          display: flex;
          justify-content: center;

          @media screen and (max-width: 600px) {
            min-height: 39px;
          }
        }

        a {
          position: relative;
        }
      }
    }

    .selected-button {
      background-color: #26184f;
      color: white;
      
      border-radius: 100px;

      @media screen and (max-width: 600px) {
        padding: 0;
      }

      h6 {
        color: white;
      }

      .underline {
        display: none;
      }
    }
    
    .underline {
      width: 0;
      height: 2px;
      transition: width 0.3s ease;
      background-color: #26184f;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
