.fresh-container {
  padding: 0;

  .icon-container {
    background-color: #fff;
    border-radius: 15px;
    transition: transform 0.5s;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    box-shadow: 3px 5px 15px #04d3;
    padding: 15px 0 10px 0;

    @media screen and (max-width: 776px) {
      margin: 5px;
    }

    &:hover {
      transform: scale(1.03);
    }

    img {
      border-radius: 150px;
      width: 140px;
      height: 140px;

      @media screen and (max-width: 1200px) {
        width: 130px;
        height: 130px;
      }

      @media screen and (max-width: 600px) {
        width: 90px;
        height: 90px;
      }

      @media screen and (max-width: 360px) {
        width: 80px;
        height: 80px;
      }
    }

    .title-container {
      margin-top: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 90%;
      text-align: center;

      span {
        padding: 10px 0 5px 0;
        font-size: 16px;
        font-weight: 800;
        color: #251552;

        @media screen and (max-width: 600px) {
          font-size: 14px;
        }
      }

      i {
        padding-left: 5px;
        font-size: 18px;
        color: #14a8ff;
      }
    }
  }
}