.row-blue {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #bae6ff;
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(100,197,255,0.5298494397759104) 14%, rgba(240,245,251,0.41780462184873945) 100%);
}

.row-red {
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #ffd1c9;
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(228,136,135,0.5326505602240896) 0%, rgba(255,255,255,0.4962359943977591) 100%);
}

.row-yellow {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid#f2f3a3;
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(226,222,113,0.45702030812324934) 0%, rgba(251,251,251,0.47102591036414565) 100%);
}