
.container {
  min-height: 500px;
  margin-top: 0px;
}

.explore-collection {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 600px) {
    justify-content: center;
  }
}
